@CHARSET "UTF-8";
@IMPORT url("common.css");
img{border: none}
#wrap{ /* id는 #을 먼저 입력하고 id 를 적으면 된다 */
	width: 99%;
	text-align: left; /* 글자정렬 : 왼쪽 */
	margin: 0;
	margin-right: auto; /* 환경에 맞게 자동 설정 */
	margin-left: auto;
	background-image: url("../images/3D_gif_07.gif");
	background-repeat: repeat-y;
	/* 만약 배경이미지가 작으면 y축으로 이미지 반복으로 채우겠다. 만약 옆도 채우고 싶으면 repeat-x 도 적어주자 */
	min-height: 750px;
	/* 모니터에 따라 신축성 있게 헤더가 축소되지만 최소한 750px 은 유지하고
	그 이하가 되면 이미지가 잘리도록 하겠다 */
}   
#top{
	height: 150px;
	margin: 0;
	padding: 0;
}
.clear{
	clear : both;  /* 배경화면을 계속 돌려주는데 div 넘으면 잘라주는 역할을 한다 */
}
#logo{
	float: left;
	margin: 40px 0 0 40px; 
	width: 270px;
}
#login{
	float: right;
	margin: 20px 60px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing: 5px;
}
#login a{
	text-decoration: none;
	color: #333;
}
#login a:hover{
	color: #f90;
}
nav#topMenu{
	width: 600px;
	margin: 50px 20px 0 0;
	float: right;
}
nav#topMenu ul{
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 100;
	color: #333;
}
nav#topMenu ul li{
	float: left;
	margin: 0 5px;
}
nav#topMenu a{
	display: block;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color: #333;
}
nav#topMenu a:hover{
	
}

footer hr{
	width: 100%;
	margin: 0 0 0 15px;
}
