@CHARSET "UTF-8";
/* @IMPORT url("common.css"); */
	/*
	상대경로 : 현재 위치를 기준으로 자원의 경로를 표시하는 방식
	./ 현재위치
	../ 한 개 상위 폴더
	../../ 두개 상위 폴더
	../../../ 세개 상위 폴더
	*/
body{
	font-family: "맑은 고딕";
	font-size: 0.75em;
	color: #333;
	line-height: 1.8em;
}
ul.multi{     /* .multi 라고 주는 것과 의미상 동일하다. 다만 가독성과 유지 보수에 good choice */
	margin: 0;
	padding: 0;    /* 마진과 패딩을 초기화 해줌 */
}
ul.multi li{
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;     /* 세로로 출력되는 것을 none 시킨다. */
	background-image: url("../../images/bluePoint.png");
	background-repeat: no-repeat;
	background-position: left center;
}
ul.multi ul li{
	list-style: decimal;
	/* 리스트 타입을 숫자로 지정한다. */
	margin: 0 0 0 5px;
	padding: 0;
	background-image: none;
}
ul.multi ul ul li{
	margin: 0 0 0 -20px;
	padding: 0 0 0 15px;
	list-style: none;
	/* 리스트 타입을 none 으로 지정하여 list-type 이 상속되는 것을 막는다. */
	background-image: url("../../images/bluePoint.png");
	background-repeat: no-repeat;
	background-position: left center;
}